/* Add styles for the navbar links */

body {
    .navbar a {
        margin-right: 10px;
        text-decoration: none;
        color: #333;
    }
    .navbar a:hover {
        color: #1518df;
    }
}